.page-article .description {
    margin-top: 60px; }
.page-article .item-related-articles {
    border-top: 1px solid #e8e4e4;
    margin-top: 10px;
    display: flex;
    flex-direction: row; }
.page-article .item-related-articles article {
    flex: 1;
    padding-top: 20px;
    padding-right: 10px; }
.page-article .item-related-articles article .caption-teaser {
    display: inline-block; }
@media (max-width: 479px) {
    .page-article .item-related-articles {
        flex-direction: column; }
    .page-article .channel {
        padding-top: 0px; }
    .page-article .img-container {
        width: 300px; } }

.page-article .item-content-column {
    padding-left: 0px; }
.page-article .item-content__header .channel {
    padding: 10px 0 10px 0; }
.page-article .item-related-articles article {
    flex: 1;
    display: flex;
    flex-direction: column; }
.page-article .item-related-articles article .caption-teaser {
    order: 3; }
.page-article .item-related-articles article .article-card-taxonomy-container {
    order: 1;
    margin: -10px 0 0 0;
    position: absolute;
    top: auto; }
.page-article .item-related-articles article .text-headline {
    order: 2;
    padding: 10px 0 10px 0;
    font-family: MuseoSans300, sans-serif !important; }
.page-article .item-related-articles article .identifier {
    font-size: 10px;
    order: 4; }
@media (max-width: 479px) {

    .veranstaltungdesmonats2 .region-teaser-list .caption-teaser{
        display:none;
    }
    .veranstaltungdesmonats2 .region-teaser-list .article-card-taxonomy-container{
        display:none;
    }
    .swiper-container-horizontal{
        overflow:hidden !important;
    }
}
.page-user .region-infinite-block .region-teaser-list .container-content .teaser-list-vertical article.teaser-landscape-large .article-card-taxonomy-container {
    left: 0;
    top: 32px; }
.page-user .region-infinite-block .region-teaser-list .container-content .teaser-list-vertical article.teaser-landscape-large .article-card-taxonomy-container .channel {
    margin: -10px 0 0 0;
    top: auto;
    position: relative; }
.page-user .region-infinite-block .region-teaser-list .container-content .teaser-list-vertical article.teaser-landscape-large .article-card-taxonomy-container .channel .text-label.text-category {
    margin: 0;
    color: white;
    font-weight: 500;
    font-size: 1em;
    font-family: MuseoSans500, sans-serif !important;
    height: 25px;
    background: #ec008c;
    text-align: center;
    color: #ffffff;
    padding: 4px 10px 0;
    display: inline-block;
    position: relative; }
.page-user .region-infinite-block .region-teaser-list .container-content .teaser-list-vertical article.teaser-landscape-large .article-card-taxonomy-container .channel .text-label.text-category:after {
    top: 0;
    content: "";
    position: absolute;
    border-top: solid 25px #ec008c;
    right: -10px;
    border-right: solid 10px transparent; }
.page-user .region-infinite-block .region-teaser-list .container-content .teaser-list-vertical article.teaser-landscape-large .caption.caption-teaser .roofline {
    color: #ec008c;
    font-family: MuseoSans700, sans-serif;
    padding: 0 0 0 0;
    margin: 0 0 0 0; }
.page-user .region-infinite-block .region-teaser-list .container-content .teaser-list-vertical article.teaser-landscape-large .caption.caption-teaser h2.text-headline {
    color: #69656e;
    line-height: 1.2; }
.page-user .region-infinite-block .region-teaser-list .container-content .teaser-list-vertical article.teaser-landscape-large .caption.caption-teaser .teaser_text {
    padding: 15px 0 0 0;
    line-height: 1.2; }
.page-user .region-infinite-block .region-teaser-list .container-content .teaser-list-vertical article.teaser-landscape-large .caption.caption-teaser .text_author {
    margin: 10px 0 0 0; }
.page-user .region-infinite-block .region-teaser-list .container-content .teaser-list-vertical article.teaser-landscape-large .caption.caption-teaser .text_author .author_name {
    color: #1e2d66; }
.page-user .region-infinite-block .region-teaser-list .container-content .teaser-list-vertical article.teaser-landscape-large .caption.caption-teaser .text_author .date {
    color: #69656e; }
.page-user .item-content{
    display:none;
}
#page .info {
    color: #1e2d66; }

.page-webform #edit-container .webform-section-wrapper {
    display: flex;
    flex-direction: row; }
.page-webform #edit-container #edit-abo1 {
    display: flex;
    flex-direction: column; }
.page-webform #edit-container #edit-abo2 {
    display: flex;
    flex-direction: column; }
.page-webform #edit-container #edit-abo3 {
    display: flex;
    flex-direction: column; }
.page-webform #edit-container legend {
    display: none; }

.page-webform #abo_landingpage--ab_lieferanschrift {
    display: none; }
.page-webform .webform-submission--view-mode-previous .webform-button--previous {
    margin: inherit; }
.page-webform .webform-submission--view-mode-previous .webform-button--submit {
    margin: inherit; }
.page-webform .js-form-type-checkbox {
    padding: 10px 0 10px 0;
    display: flex; }
.page-webform .js-form-type-checkbox .description {
    padding-left: 10px; }
.page-webform .progress-step.is-active .progress-marker {
    background-color: #ec008c; }
.page-webform .progress-step.is-complete .progress-marker {
    background-color: #ec008c; }
.page-webform .bigcont {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto; }
.page-webform .bigcont .container2 {
    padding-bottom: 40px;
    border-bottom: 1px solid #e8e4e4;
    display: flex;
    flex-direction: row; }
.page-webform .bigcont .container2 img {
    width: 100%;
    padding-top: 40px; }
.page-webform .bigcont .container2 .text {
    margin: 0 auto; }
.page-webform .bigcont .container2 .text h2 {
    margin: 0 auto;
    width: 90%;
    font-size: 23px;
    font-weight: 700;
    padding: 20px 0 20px 0; }
.page-webform .bigcont .container2 .text h3 {
    width: 90%;
    padding: 0px 0 20px 0;
    font-weight: 700;
    margin: 0 auto;
    font-size: 19px; }
.page-webform .bigcont .container2 .text ul {
    width: 90%;
    margin: 0 auto;
    line-height: 2.0em;
    font-size: 18px; }
.page-webform .webform-submission-form .container {
    padding-top: 40px;
    display: flex;
    justify-content: space-evenly; }
.page-webform #abo_landingpage--auswahl {
    display: none; }
.page-webform #abo_landingpage--computed label {
    display: none; }
.page-webform #abo_landingpage--computed p {
    padding-top: 20px; }
.page-webform #abo_landingpage--rechnungsadresse {
    padding-top: 20px; }
.page-webform #edit-rechnungsadresse {
    display: flex; }
.page-webform .webform-section-title {
    color: white; }
.page-webform #edit-container .webform-section-wrapper {
    justify-content: space-around;
    width: 70%;
    margin: 0 auto; }
.page-webform #edit-container label {
    width: 300px; }
.page-webform .abo1_forms .probe {
    font-weight: 600; }
.page-webform .abo1_forms .columns .price {
    width: 355px;
    font-size: 0.8em; }
.page-webform .abo1_forms .columns li {
    padding: 14px; }
.page-webform .abo1_forms .columns .header {
    font-size: 1em; }
.page-webform .abo1_forms .columns .grey {
    font-size: 1em; }
.page-webform #edit-actions-02-preview-prev{
display:initial;
}
.page-webform #edit-actions-02-submit{
display:initial;
}
.page-webform input {
    border-radius: 3px;
    border: 1px solid #aaa;
    margin-bottom: 10px;
    display: inline-block; }
.page-webform label {
    width: 138px;
    padding-bottom: 10px;
    clear: left;
    font-weight: 100; }
.page-webform .abo2_forms .probe {
    font-weight: 600; }
.page-webform .abo2_forms .columns .price {
    width: 355px;
    font-size: 0.8em; }
.page-webform .abo2_forms .columns li {
    padding: 14px; }
.page-webform .abo2_forms .columns .header {
    font-size: 1em; }
.page-webform .abo2_forms .columns .grey {
    font-size: 1em; }
.page-webform .abo3_forms .probe {
    font-weight: 600; }
.page-webform .abo3_forms .columns .price {
    width: 355px;
    font-size: 0.8em; }
.page-webform .abo3_forms .columns li {
    padding: 14px; }
.page-webform .abo3_forms .columns .header {
    font-size: 1em; }
.page-webform .abo3_forms .columns .grey {
    font-size: 1em; }
.page-webform .item-content-column {
    padding: 0 0 0 0; }
.page-webform .region-fixed-content {
    max-width: 1400px; }
.page-webform .columns {
    float: left;
    margin: 20px 5px 0 5px; }
.page-webform .tick {
    color: green;
    padding-right: 20px; }
.page-webform .tickx {
    color: red;
    padding-right: 20px; }
.page-webform .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
.page-webform .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2); }
.page-webform .price .header {
    background-color: #ec008c;
    color: white;
    font-size: 25px; }
.page-webform .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center; }
.page-webform .price .grey {
    background-color: #eee;
    font-size: 20px; }
.page-webform .button {
    background-color: #ec008c;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    margin-top: 10px; }
.page-webform img {
    width: 80%; }
.page-webform #edit-contact legend {
    padding-top: 20px;
    border-bottom: 0px solid black;
    margin-bottom: 0px; }
.page-webform #edit-flex {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin: 0 auto; }
.page-webform #edit-flex #edit-info {
    font-size: 12px; }
.page-webform #edit-flex #edit-info2 {
    font-size: 12px; }
.page-webform #edit-flex #edit-lieferanschrift {
    display: flex;
    flex-direction: row; }
.page-webform #edit-flex .columns {
    padding-top: 50px; }
.page-webform #edit-flex .webform-section-wrapper {
    display: initial !important;
    margin: 0 auto; }
.page-webform #edit-inputs {
    padding: 50px 0 50px 20px;
    display: flex;
    flex-direction: column; }
.page-webform #edit-inputs .webform-section-wrapper {
    display: flex !important;
    flex-direction: column !important; }
.page-webform #edit-inputs .js-form-type-radio {
    width: 70px; }
.page-webform #edit-container-01 {
    border-bottom: 2px solid #eee;
    padding-bottom: 20px; }
.page-webform #edit-container-01 .text {
    text-transform: uppercase;
    color: #ec008c;
    font-weight: 700; }
.page-webform #edit-container-01 .probe {
    padding-top: 20px;
    line-height: 1.2; }
.page-webform #edit-container-01 .js-form-type-textfield {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-width: 150px; }
.page-webform #edit-container-01 .js-form-type-email {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    max-width: 300px; }
.page-webform #edit-container-01 .js-form-type-radio {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    max-width: 300px; }
.page-webform #edit-container-01 .columns {
    padding-right: 30px; }
.page-webform #edit-container-01 label {
    width: 150px; }
.page-webform #edit-container-01 input {
    padding: 5px 0 5px 0; }
.page-webform .webform-submission--webform-abo-landingpage {
    width: 70%;
    margin: 0 auto; }
.page-webform .webform-submission--webform-abo-landingpage #abo_landingpage--information summary {
    display: none; }
.page-webform .webform-submission--webform-abo-landingpage #abo_landingpage--container_01 {
    border-bottom: 2px solid #eee;
    padding-bottom: 20px; }
.page-webform .webform-submission--webform-abo-landingpage #abo_landingpage--container_01 .abo2_forms .columns {
    padding: 50px 50px 0 0; }
.page-webform .webform-submission--webform-abo-landingpage #abo_landingpage--container_01 .abo2_forms .text {
    color: #ec008c;
    text-transform: uppercase;
    font-weight: 700; }
.page-webform .webform-submission--webform-abo-landingpage #abo_landingpage--container_01 .abo3_forms .columns {
    padding: 50px 50px 0 0; }
.page-webform .webform-submission--webform-abo-landingpage #abo_landingpage--container_01 .abo3_forms .text {
    color: #ec008c;
    text-transform: uppercase;
    font-weight: 700; }
.page-webform .webform-submission--webform-abo-landingpage #abo_landingpage--container_01 .abo1_forms .columns {
    padding: 50px 50px 0 0; }
.page-webform .webform-submission--webform-abo-landingpage #abo_landingpage--container_01 .abo1_forms .text {
    color: #ec008c;
    text-transform: uppercase;
    font-weight: 700; }
.page-webform .webform-submission--webform-abo-landingpage #abo_landingpage--inputs {
    padding-top: 33px; }
.page-webform .webform-submission--webform-abo-landingpage #abo_landingpage--inputs label {
    width: 180px; }
	.page-webform .webform-confirmation{
	text-align:center;
	}
@media only screen and (max-width: 600px) {
    .page-webform .abo_landingpage .pricing {
        display: flex;
        flex-direction: column; }
    .page-webform .abo_landingpage .container2 {
        padding-bottom: 40px;
        border-bottom: 1px solid #e8e4e4;
        display: flex;
        flex-direction: column; }
    .page-webform .abo_landingpage .container2 li {
        position: inherit !important; }
    .page-webform .abo_landingpage .container2 li:before {
        content: ""; }
    .page-webform #edit-container-01 .columns {
        width: 100%; }
    .page-webform .description {
        display: inline; }
    .page-webform .container2 {
        flex-direction: column; } }
@media only screen and (max-width: 1100px) {
    .page-webform .bigcont {
        width: 100%; }
    .page-webform .bigcont .container2 {
        flex-direction: column !important; }
    .page-webform .bigcont .container2 .medium-3 {
        width: 50%;
        margin: 0 auto; }
    .page-webform .bigcont .container2 h2 {
        font-size: 0.9em; }
    .page-webform .bigcont .container2 h3 {
        font-size: 0.8em; }
    .page-webform .bigcont .container2 ul {
        font-size: 0.7em; }
    .page-webform .container li {
        font-size: 0.7em; }
    .page-webform .container .price .grey {
        font-size: 0.7em; }
    .page-webform .container .price .header {
        font-size: 0.7em; }
    .page-webform .container .price li {
        padding: 10px; }
    .page-webform #edit-container .webform-section-wrapper {
        width: 100%;
        font-size: 0.7em; }
    .page-webform #edit-container .js-form-type-radio {
        display: flex; } }

.page-webform #js-dfp-tag-dzw_mobile_rectangle {
    display: none; }
.page-webform #js-dfp-tag-leaderboard_top {
    display: none; }
.page-webform #edit-info {
    padding-top: 20px; }

.abo_landingpage .pricing {
    display: flex;
    flex-direction: row; }
.abo_landingpage .container2 {
    padding-bottom: 40px;
    border-bottom: 1px solid #e8e4e4;
    display: flex;
    flex-direction: row; }
.abo_landingpage .container2 li {
    position: inherit !important; }
.abo_landingpage .container2 li:before {
    content: ""; }
.abo_landingpage img {
    width: 100%;
    padding-top: 40px; }
.abo_landingpage .text {
    margin: 0 auto;
    padding-left: 30px; }
.abo_landingpage h2 {
    font-size: 23px;
    font-weight: 700;
    padding: 20px 0 20px 0; }
.abo_landingpage h3 {
    padding: 0px 0 20px 0;
    font-weight: 700;
    font-size: 19px; }
.abo_landingpage ul {
    font-size: 18px;
    line-height: 2.0em;
    margin: 0 auto;
    width: 100%; }
.abo_landingpage li {
    list-style-type: none;
    width: 90%;
    padding-bottom: 10px;
    position: initial !important;
    padding-left: 0px !important;
    font-size: 0.8em; }
.abo_landingpage .tick {
    color: green; }
.abo_landingpage .btn-custom {
    margin: 0 auto;
    display: block;
    background-color: #ec008c;
    color: white;
    font-size: 0.9em;
    border-radius: 3px;
    text-decoration: none;
    border: 1px solid #ec008c;
    font-weight: 700;
    width: 200px; }
.abo_landingpage .btn-custom:hover {
    color: #ec008c;
    background-color: white;
    border: 1px solid #ec008c; }
.abo_landingpage .pricing-table {
    width: 90%;
    padding-top: 50px;
    font-size: 0.7em; }
.abo_landingpage #pricing-table .pricing {
    margin: 0 auto;
    padding: 0;
    font-family: robot, sans-serif; }
.abo_landingpage #pricing-table .pricing .pricing-table {
    clip-path: inset(0px 0px 61% 0px);
    padding-bottom: 30px;
    width: 96%;
    margin: 0 auto;
    transition-duration: 0.5s;
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.1)); }
.abo_landingpage #pricing-table .pricing .pricing-table .pricing-list {
    border: 0px solid #e3e3e3; }
.abo_landingpage #pricing-table .pricing .pricing-table:hover {
    clip-path: inset(0px 0px 0px 0px);
    padding-bottom: 30px;
    transition-duration: 0.5s;
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.1)); }
.abo_landingpage #pricing-table .pricing .pricing-table:hover .pricing-list {
    border: 1px solid #e3e3e3; }
.abo_landingpage #pricing-table .pricing .pricing-table .pricing-header {
    position: relative;
    background: #ec008c;
    padding: 22px;
    text-align: center;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px; }
.abo_landingpage #pricing-table .pricing .pricing-table .pricing-header .pricing-title {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 700; }
.abo_landingpage #pricing-table .pricing .pricing-table .pricing-header .pricing-rate {
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    position: relative;
    text-align: center; }
.abo_landingpage #pricing-table .pricing .pricing-table .pricing-header .pricing-rate sup {
    font-size: 24px;
    position: relative;
    top: -30px;
    color: #bdc3c7; }
.abo_landingpage #pricing-table .pricing .pricing-table .pricing-header .pricing-rate span {
    font-size: 16px;
    color: #bdc3c7;
    text-transform: uppercase; }
.abo_landingpage #pricing-table .pricing .pricing-list {
    padding: 20px 0 40px;
    background: #fff;
    border: 1px solid #e3e3e3; }
.abo_landingpage #pricing-table .pricing .pricing-list ul {
    padding: 0;
    display: table;
    margin: 0 auto; }
.abo_landingpage #pricing-table .pricing .pricing-list ul li {
    list-style: none;
    border-bottom: 1px solid #eaeceb;
    color: black;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    line-height: 42px; }
.abo_landingpage #pricing-table .pricing .pricing-list ul li:last-child {Weißenburger Str. 63Ostholzstraße 26, 44388 Dortmund
    border: 0; }
.abo_landingpage #pricing-table .pricing .pricing-list ul li i {
    margin-right: 12px;
    color: #bdc3c7; }
.abo_landingpage #pricing-table .pricing .pricing-list ul li span {
    color: #34495e; }
@media only screen and (max-width: 980px) {
    #page .abo_landingpage .pricing-table {
        clip-path: inset(0px 0px 61% 0px); }}
@media only screen and (max-width: 700px) {
    #page .abo_landingpage .pricing-table {
        clip-path: inset(0px 0px 67% 0px); }
    #page .abo_landingpage img {
        width: 60%; }
    #page .abo_landingpage .pricing {
        display: flex;
        flex-direction: column; }
    #page .abo_landingpage .container2 {
        padding-bottom: 40px;
        border-bottom: 1px solid #e8e4e4;
        display: flex;
        flex-direction: column; }
    #page .abo_landingpage .container2 li {
        position: inherit !important; }
    #page .abo_landingpage .container2 li:before {
        content: ""; } }

        .page-page #js-dfp-tag-wideskyscraper_right{
            display: none;
        }
/*# sourceMappingURL=main.css.map */
