#superfish-main ul .container-content{display:block;}
.page-article .media__image {
  margin: 0;}
@media (max-width: 480px) {
		.sf-accordion-toggle{display:none;}
	#superfish-main-toggle{display:none;}
}


@media (max-width: 480px) {
	#menu-main-navigation .menu-open-btn .label-menu{
		display:none;
	}
}
@media (max-width: 992px) {
	.lbtop,.wscr,.lbmid,.mediumrectangle,.halfpager{display:none;}
}


/*
test  kann mit media querys ersetzt werden
*/
	#menu-main-navigation .menu-open-btn .label-menu{
		display:none;
	}
	.sf-accordion-toggle{display:none;}
	#superfish-main-toggle{display:none;}
#menu-open-btn.icon.icon-menu .label-menu{display:none!important;}
.page-node #js-dfp-tag-wideskyscraper_right{display:none;}
.page-page #js-dfp-tag-wideskyscraper_right{display:none;}
.page-page #js-dfp-tag-leaderboard_top{display:none;}
.page-taxonomy .region-teaser-list{padding-top:70px;}
.page-front .region-teaser-list{padding-top:70px;}
.page-front article.teaser-landscape-medium.teaser-presenter-half {
    padding-top: 0 !important;
    padding-bottom: 50px;
}
  .page-page .wscl,.page-page .lbtop, .page-page .lbmid{display:none !important;}
.ftop{
 display: flex;
 max-width: 1448px;
 margin: 0 auto;
 box-sizing: border-box;
 /* margin-bottom:-30px; */
}
.ftop .js-dfp-tag-fireplace_top{
 margin:0 auto;

}
.page-page .lbtop{display:none!important;}
.page-page #js-dfp-tag-wideskyscraper_right{
	display:none!important;

}
#menu-main-navigation #menu-open-btn.icon.icon-menu span.label-menu{display:none;}

.user-logged-in #mobile_inters_holder {display:none!impoortant;}