{% extends '@infinite/views/views-view--infinite-default-feed.html.twig' %}
{% block adbar %}
    <div class="halfpager">
        {{ content.halfpager }}
    </div>
    <div class="mediumrectangle">
        {{ content.mediumrectangle }}
    </div>
{% endblock %}
